<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458936831536-3usf2mjkhdjqlhs8gjinn1sht48597su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458936831536-3usf2mjkhdjqlhs8gjinn1sht48597su</string>
	<key>API_KEY</key>
	<string>AIzaSyDS458PyIQr8PueM96CAX6lrdh97KTeGrA</string>
	<key>GCM_SENDER_ID</key>
	<string>458936831536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixer.fixer</string>
	<key>PROJECT_ID</key>
	<string>fixer-4f39a</string>
	<key>STORAGE_BUCKET</key>
	<string>fixer-4f39a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458936831536:ios:14e50455b0343bcf18e7f5</string>
</dict>
</plist>